#support
    .textbox
        h1
            font-weight: 700
            font-size: 60px
            color: #ffff
            margin: 0 70px 0 40px
            line-height: 1.1
        span
            color: #24667283
        .btn
            background-color: #ffff
            margin: 30px 0 0 40px
            color: #38b6c1
            padding: 10px 30px
            font-size: 22px
    .bgc
        background-color: #35b6c1

    

    @media screen and ( max-width: 992px )
        .textbox
            height: 350px
            h1
                font-size: 30px
                margin: 60px 130px 0 0
                padding: 50px 90px 20px 0
                // margin: 0
            .btn
                margin-right: 50px

    @media screen and ( max-width: 768px )
        .col-md-6
            padding: 0
        .imgbox
            margin-bottom: 20px
        .textbox
            padding: 20px

    @media screen and ( max-width: 576px )
        .imgbox
            margin-bottom: 25px
        .textbox
            height: 370px
            h1
                font-size: 50px
                padding: 50px 60px 0 0
                margin: 0
            .btn
                font-size: 20px
                padding: 14px 80px
                margin: 40px 0 0 0
        